@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-controller="Home" asp-action="Reset">Reset data</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Seed">Initialize data</a>
</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
